body {
    /* Подай заявку на проживання прямо зараз! */

font-family: 'Montserrat';
font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CECEBE;
}
.registration-container {
    width: 400px;
    padding: 20px;
    background-color: #D6D6C2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registration-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.registration-container input {
    width: 95%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #BABAA5;
    background-color: #BABAA5;
}
.registration-container button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #D94426;
    color: #D6D6C2;
    cursor: pointer;
}
.registration-container button:hover {
    background-color: #CF2C0B;
}

.login-container {
    width: 400px;
    padding: 20px;
    background-color: #D6D6C2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-container input {
    width: 95%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #BABAA5;
    background-color: #BABAA5;
}
.login-container button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #D94426;
    color: #D6D6C2;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #CF2C0B;
}

